.Item {
    margin: 10px 0;
    box-sizing: border-box;
    display: block;
    width: 100%;
}

.Item a {
    color: #8F5C2C;
    text-decoration: none;
    width: 100%;
    box-sizing: border-box;
    display: block;
}

.Item a:hover,
.Item a:active,
.Item a.active {
    color: #40A4C8;
}

@media (min-width: 500px) {
    .Item {
        margin: 0;
        display: flex;
        height: 100%;
        width: auto;
        align-items: center;
    }
    
    .Item a {
        color: white;
        height: 100%;
        padding: 16px 10px;
        border-bottom: 4px solid transparent;
    }
    
    .Item a:hover,
    .Item a:active,
    .Item a.active {
        background-color: #8F5C2C;
        border-bottom: 4px solid #40A4C8;
        color: white;
    }
}